<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<table border="0" cellpadding="3" cellspacing="0" style="border-bottom:1px solid #000000;" width="100%">
    <tbody>
    <tr>
        <td align="center" valign="top" width="20%">
            <img src="[LOGO]" width="90px">
        </td>
        <td align="center" valign="top" valign="center" width="80%">
            <b>
                PEMERINTAH PROVINSI SUMATERA SELATAN<br>
                DINAS PENDIDIKAN<br>
                SEKOLAH MENENGAH KEJURUAN NEGERI 5<br>
                [SCHOOL_STREET_ADDRESS]<br>
            </b>
            E-Mail: [SCHOOL_EMAIL] Website: [SCHOOL_WEBSITE]
        </td>
    </tr>
    </tbody>
</table>
<h3>[TITLE]</h3>
<table border="0" cellpadding="3" cellspacing="0" style="border-bottom:1px solid #a5a5a5;" width="100%">
    <tbody>
    <tr>
        <td align="right" width="35%">NISN</td>
        <td align="center" width="5%">:</td>
        <td align="left" width="60%">[NISN]</td>
    </tr>
    <tr>
        <td align="right">NAMA LENGKAP</td>
        <td align="center">:</td>
        <td align="left">[NAMA_LENGKAP]</td>
    </tr>
    <tr>
        <td align="right">JURUSAN</td>
        <td align="center">:</td>
        <td align="left">[JURUSAN]</td>
    </tr>
    <tr>
        <td align="right">ASAL SEKOLAH</td>
        <td align="center">:</td>
        <td align="left">[ASAL_SEKOLAH]</td>
    </tr>
    <tr>
        <td align="right">TANGGAL CETAK</td>
        <td align="center">:</td>
        <td align="left">[TANGGAL_CETAK]</td>
    </tr>
    <tr>
        <td colspan="3"></td>
    </tr>
    </tbody>
</table>
<table border="0" cellpadding="3" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td align="left">Saya yang bertandatangan dibawah ini menyatakan bahwa data yang tertera diatas adalah yang
            sebenarnya.
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr align="left">
        <td align="right">[FOOTER_DATE]</td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td align="right">[NAMA_LENGKAP]</td>
    </tr>
    </tbody>
</table>
</body>
</html>