<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<table border="0" cellpadding="3" cellspacing="0" style="border-bottom:1px solid #000000;" width="100%">
    <tbody>
    <tr>
        <td align="center" valign="top" width="20%">
            <img src="[LOGO]" width="90px">
        </td>
        <td align="left" valign="top" valign="center" width="80%">
            <br>
            <h1 style="line-height: 5em;">[SCHOOL_NAME]</h1>
            <p>[SCHOOL_STREET_ADDRESS]<br>
                Telp : [SCHOOL_PHONE]<br>
                Email : [SCHOOL_EMAIL] &sdot; Website : [SCHOOL_WEBSITE]</p>
        </td>
    </tr>
    </tbody>
</table>
<h3>[TITLE]</h3>
<table border="0" cellpadding="3" cellspacing="0" style="border-bottom:1px solid #a5a5a5;" width="100%">
    <tbody>
    <tr>
        <td align="left" colspan="3"><h3>Registrasi Siswa</h3></td>
    </tr>
    <tr>
        <td align="right" width="35%">Jenis Pendaftaran</td>
        <td align="center" width="5%">:</td>
        <td align="left" width="60%">Calon Siswa Baru</td>
    </tr>
    <tr>
        <td align="right">Nomor Pendaftaran</td>
        <td align="center">:</td>
        <td align="left">[REGISTRATION_NUMBER]</td>
    </tr>
    <tr>
        <td align="right">Tahun Pendaftaran</td>
        <td align="center">:</td>
        <td align="left">[CREATED_AT]</td>
    </tr>
    <tr>
        <td align="right">Jurusan Yang di Pilih</td>
        <td align="center">:</td>
        <td align="left">[FIRST_CHOICE]</td>
    </tr>
    <tr>
        <td align="right">Nama Sekolah Asal</td>
        <td align="center">:</td>
        <td align="left">[PREV_SCHOOL_NAME]</td>
    </tr>
    <tr>
        <td colspan="3"></td>
    </tr>
    </tbody>
</table>
<table cellpadding="3" cellspacing="0" style="border-bottom:1px solid #a5a5a5;" width="100%">
    <tbody>
    <tr>
        <td align="left" colspan="3"><h3>Biodata [STUDENT_TYPE]</h3></td>
    </tr>
    <tr>
        <td align="right" width="35%">Nama Lengkap</td>
        <td align="center" width="5%">:</td>
        <td align="left" width="60%">[FULL_NAME]</td>
    </tr>
    <tr>
        <td align="right">Jenis Kelamin</td>
        <td align="center">:</td>
        <td align="left">[GENDER]</td>
    </tr>
    <tr>
        <td align="right">NISN</td>
        <td align="center">:</td>
        <td align="left">[NISN]</td>
    </tr>
    <tr>
        <td align="right">Tahun Lulus</td>
        <td align="center">:</td>
        <td align="left">[TAHUN_LULUS]</td>
    </tr>
    <tr>
        <td align="right">Tempat Lahir</td>
        <td align="center">:</td>
        <td align="left">[BIRTH_PLACE]</td>
    </tr>
    <tr>
        <td align="right">Tanggal Lahir</td>
        <td align="center">:</td>
        <td align="left">[BIRTH_DATE]</td>
    </tr>
    <tr>
        <td align="right">Agama</td>
        <td align="center">:</td>
        <td align="left">[RELIGION]</td>
    </tr>
    <tr>
        <td colspan="3"></td>
    </tr>
    </tbody>
</table>
<table cellpadding="3" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td align="left" colspan="3"><h3>Alamat</h3></td>
    </tr>
    <tr>
        <td align="right" width="35%">Alamat Jalan</td>
        <td align="center" width="5%">:</td>
        <td align="left" width="60%">[STREET_ADDRESS]</td>
    </tr>
    <tr>
        <td align="right">Kota</td>
        <td align="center">:</td>
        <td align="left">[KOTA]</td>
    </tr>
    <tr>
        <td align="right">Provinsi</td>
        <td align="center">:</td>
        <td align="left">[PROVINSI]</td>
    </tr>
    <tr>
        <td align="right">Negara</td>
        <td align="center">:</td>
        <td align="left">[NEGARA]</td>
    </tr>
    <tr>
        <td align="right">No HP.</td>
        <td align="center">:</td>
        <td align="left">[NO_HP]</td>
    </tr>
    <tr>
        <td align="right">Email</td>
        <td align="center">:</td>
        <td align="left">[EMAIL]</td>
    </tr>
    <tr>
        <td colspan="3"></td>
    </tr>
    </tbody>
</table>
<table border="0" cellpadding="3" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td align="left">Saya yang bertandatangan dibawah ini menyatakan bahwa data yang tertera diatas adalah yang
            sebenarnya.
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr align="left">
        <td align="right">[FOOTER_DATE]</td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td align="right">[FOOTER_FULL_NAME]</td>
    </tr>
    </tbody>
</table>
</body>
</html>